<?xml version="1.0" encoding="utf-8"?>
<!-- v3.8.4.5.b -->
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SIGEM.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="SIGEM.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<applicationSettings>
		<SIGEM.Client.Properties.Settings>
			<setting name="DependencyRulesCounter" serializeAs="String">
				<value>100</value>
			</setting>
			<setting name="ConnectionString" serializeAs="String">
				<value>net://localhost:SIGEM</value>
			</setting>
			<setting name="ConnectionStringUserPreferences" serializeAs="String">
				<value>file://UserPrefs.xml</value>
			</setting>
			<setting name="ConfigurationOfReports" serializeAs="String">
				<value>Reports.config.xml</value>
			</setting>
			<setting name="MainMenuReports" serializeAs="String">
				<value>MainMenuReports.xml</value>
			</setting>
			<setting name="ConjunctionPolicy" serializeAs="String">
				<value>AND</value>
			</setting>
			<setting name="UserPreferencesByUser" serializeAs="String">
				<value>False</value>
			</setting>
		</SIGEM.Client.Properties.Settings>
	</applicationSettings>
</configuration>

